html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
  color: #FFF;
}

body {
	position: absolute;
	left: 140px;
	bottom: 140px;
}

h1 {
	font-size: 40px;
	font-weight: lighter;
	line-height: 1%;
}

p {
	font-size: 18px;
}

a {
	color: #349C4A;
	text-decoration: none;
}

a:visited {
	color: #349C4A;
	text-decoration: none;
}

.link {
	position: relative;
	padding-right: 10px;
	height: 35px;
	width: 35px;
}