html { 	
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
}

body {
  width: 100%;
  text-align: center;
}

#content {
	width: 540px;
	text-align: left;
	margin: 0 auto;
}

h1 {
	margin-top: -7px;
	margin-bottom: 0em;
	font-size: 2.0em;
}

p {
	height: 1.5em;
	line-height: 1.5em;
	vertical-align: middle;
	margin-top: 4px;
	margin-bottom: 12px;
	font-size: 1.1em;
}

hr {
	border-style: solid;
	color: black;
}

a, a:visited {
	color: blue;
	text-decoration: none;
}

a.futurice, a.futurice:visited {
	color: #349C4A;
	text-decoration: none;
}

img {
	text-align: center;
	width: 540px;
}

img.link {
	line-height: 1.5em;
	vertical-align: middle;
	position: relative;
	padding-right: 10px;
	height: 1.4em;;
	width: 1.4em;;
}